{% extends 'main/main_template.html' %}

{% block header %}	
	Здания
{% endblock %}

{% block content %}	
	<ul>
	{% for bld in buildings_list %}
		<div>
			<li><a href="{% url 'buildings_edit' pk=bld.pk %}">{{ bld.name }}</a></li>
		</div>
	{% endfor %}	
	</ul>
	<a href="buildings_new">Добавить здание</a>
{% endblock %}