{% extends 'main/main_template.html' %}

{% block header %}	
	Категории
{% endblock %}

{% block content %}	
	<ul>
	{% for cat in category_list %}
		<div>
			<li><a href="{% url 'category_edit' pk=cat.pk %}">{{ cat.name }}</a></li>
		</div>
	{% endfor %}	
	</ul>
	<a href="category_new">Добавить категорию</a>
{% endblock %}