{% extends 'main/main_template.html' %}

{% block header %}	
	Состояния оборудования
{% endblock %}

{% block content %}	
	<ul>
	{% for cond in conditions_list %}
		<div>
			<li><a href="{% url 'conditions_edit' pk=cond.pk %}">{{ cond.name }}</a></li>
		</div>
	{% endfor %}	
	</ul>
	<a href="conditions_new">Добавить состояние оборудования</a>
{% endblock %}