{% extends 'main/main_template.html' %}

{% block header %}	
	Виды медицинского оборудования
{% endblock %}

{% block content %}	
	<ul>
	{% for et in equipment_types_list %}
		<div>
			<li><a href="{% url 'equipment_type_edit' pk=et.pk %}">{{ et.name }} {{ et.model }}</a></li>
		</div>
	{% endfor %}	
	</ul>
	<a href="equipment_type_new">Добавить вид оборудования</a>
{% endblock %}