{% extends 'main/main_template.html' %}

{% block header %}
	Sumo
{% endblock %}

{% block content %}
    <p><a href="{% url 'categories' %}">Категории</a></p>
    <p><a href="{% url 'manufacturers' %}">Производители оборудования</a></p>
    <p><a href="{% url 'storage' %}">Места хранения</a></p>
    <p><a href="{% url 'conditions' %}">Состояния оборудования</a></p>
    <p><a href="{% url 'buildings' %}">Здания хранения</a></p>
	<hr>
    <p><a href="{% url 'equipment_types' %}">Виды медицинского оборудования</a></p>
{% endblock %}