{% load static %}
<!doctype html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Sumo</title>
</head>
<body>
	<div class="header">
	<table width="100%">
	<tr>
		<td class="page_title">
			{% block header %}
			{% endblock %}
		</td>
		<td class="home_link">
			<a href="/">В начало</a>
		</td>
	</tr>
	</table>
	</div>

	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	
	<div class="footer">
		Городская больница № 3
	</div>
	
</body>
</html>