{% extends 'main/main_template.html' %}

{% block header %}	
	Производители
{% endblock %}

{% block content %}	
	<ul>
	{% for man in manufacturer_list %}
		<div>
			<li><a href="{% url 'manufacturer_edit' pk=man.pk %}">{{ man.name }}</a></li>
		</div>
	{% endfor %}	
	</ul>
	<a href="manufacturer_new">Добавить производителя</a>
{% endblock %}