{% extends 'main/main_template.html' %}

{% block header %}	
	Места хранения
{% endblock %}

{% block content %}	
	<ul>
	{% for stor in storage_list %}
		<div>
			<li><a href="{% url 'storage_edit' pk=stor.pk %}">{{ stor.name }}</a></li>
		</div>
	{% endfor %}	
	</ul>
	<a href="storage_new">Добавить место хранения</a>
{% endblock %}