html, body {
	height: 100%;
	color: #004;
	background-color: #eef;
}

.header {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #006699;
	background-color: #bbcccc;
	text-align: left;
	padding: 8pt;
	margin-bottom: 16pt;
}

.footer {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #fff;
	background-color: #3366cc;
	text-align: center;
	padding: 8pt;
	margin-top: 8pt;
	position: fixed; 
    bottom:0%;
	width:100%; 
}

.content {
	padding-left: 16pt;
}

label
{
	vertical-align: top;
}

li {
	font-size: larger;
	margin-bottom: 4pt;
}

.page_title {
	text-align: left;
}

.home_link {
	text-align: right;
	font-size: small;
	vertical-align: middle;
}

a:link {

	color: #08f;	
}

a:visited {
	color: #08f;	
}

a:hover {
	text-decoration: underline;
	color: #bb0;	
}

a:active {
	text-decoration: none;
	color: #ff0;
}

a img {
	border: none;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	text-indent: 0px;
	color: #006;
	text-transform: uppercase;
}